[manifest]
version = "1.0.0"
dump_lua = true
priority = 1


[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''-- TARGET: main scoring on played cards'''
position = 'after'
payload = '''
for q, a in ipairs(Judgement.Border.obj_buffer) do
 local borde = Judgement.Borders[a]
  local border = card:calculate_border(context, a)
    if border then
     ret[borde] = border
    end
end
'''
match_indent = true

[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''-- TARGET: main scoring on held cards'''
position = 'after'
payload = '''
for q, a in ipairs(Judgement.Border.obj_buffer) do
 local borde = Judgement.Borders[a]
  local border = card:calculate_border(context, a)
    if border then
     ret[borde] = border
    end
end
'''
match_indent = true

# generate_UIBox_ability_table()
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "if self.sticker or ((self.sticker_run and self.sticker_run~='NONE') and G.SETTINGS.run_stake_stickers)  then loc_vars = loc_vars or {}; loc_vars.sticker=(self.sticker or self.sticker_run) end"
position = "before"
match_indent = true
payload = '''
for k, v in ipairs(Judgement.Border.obj_buffer) do
	if self and self.ability and self.ability[v] and not Judgement.Borders[v].hide_badge then
        badges[#badges+1] = v
    end
end'''

# generate_card_ui()
[[patches]]
[patches.pattern]
target = "functions/common_events.lua"
pattern = "if v == 'eternal' then*"
match_indent = true
position = "before"
payload = '''
local sticker = Judgement.Borders[v]
if sticker then
    local t = { key = v, set = 'Border' }
    local res = {}
    if sticker.loc_vars and type(sticker.loc_vars) == 'function' then
        res = sticker:loc_vars(info_queue, card) or {}
        t.vars = res.vars or {}
        t.key = res.key or t.key
        t.set = res.set or t.set
    end
    info_queue[#info_queue+1] = t
end'''

# Add Borders as a set to be localized here
[[patches]]
[patches.pattern]
target = '''functions/common_events.lua'''
pattern = '''if _c.set == 'Other' then
        localize{type = 'other', key = _c.key, nodes = desc_nodes, vars = specific_vars or _c.vars}'''
position = 'after'
payload = '''
elseif _c.set == 'Border' then
  localize{type = 'descriptions', key = _c.key, set = _c.set, nodes = desc_nodes, vars = specific_vars or _c.vars}
'''
match_indent = true

# Add mod badge
# Apparently, this is taken from Papeback
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = "badges.mod_set = nil"
position = "before"
payload = '''
if Judgement then
  for k, v in pairs(Judgement.Borders) do
    if card and card.ability and card.ability[k] and G.your_collection then
      for i = 1, #G.your_collection do
          if card.area == G.your_collection[i] then
              SMODS.create_mod_badges(Judgement.Borders[k], badges)
          end
      end
    end
  end
end
'''
match_indent = true

# get_badge_colour()
[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = 'return G.BADGE_COL[key] or {1, 0, 0, 1}'
position = 'before'
match_indent = true
payload = '''
if Judgement then
  for k, v in pairs(Judgement.Borders) do
      G.BADGE_COL[k] = v.badge_colour
  end
end
'''

# Remove this once found a better solution for "context.main_eval" not working with sticker-likes on playing cards / weee
[[patches]]
[patches.pattern]
target = 'game.lua'
position = 'before'
pattern = "if not nosave_shop then SMODS.calculate_context({starting_shop = true}) end"
payload = '''
if G and G.playing_cards then
    for k, v in pairs(G.playing_cards) do
        if v.jud_temp_check then
            v.jud_temp_check = nil
        end
    end
end
'''
match_indent = true
